<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="statusContainer">
     <% if (locals.user) {%>
    <h3>User: <%= user.username %></h3>
    
  <% } %>
  </div>


<div class="navContainer">
    <div>
      <a href="/">Home</a>
    </div>
    <div>
      <% if (!locals.user) {%>
    <a href="/auth/sign-up">Sign up</a>
      <a href="/auth/login">Log in</a>
  <% } %>

   <% if (locals.user) {%>
   <a href="/auth/logout">Log out</a>
  <% } %>
      
      

    </div>
    
</div>
<div class="container">